* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	color: #1e1e1e;
	background: #d9d9d9;
}

img {
	height: 400px;
	width: 100%;
	background: #1e1e1e;
}

h1, h2, h3 {
	padding: 10px;
}

#top h2, button {
	color: #d9d9d9;
	background: #1e1e1e;
	text-align: center;
	height: 50px;
	padding: 20px;
}

#navbar ul li {
	display: inline-block;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-decoration: underline;
	font-weight: bolder;
	padding: 20px;
	padding-right: 10px;
	color: #d9d9d9;
	background: #1e1e1e;
}

ul {
	text-align: center;
	color: #d9d9d9;
	background: #1e1e1e;
}

ul li a {
	color: #d9d9d9;
	background: #1e1e1e;
}

ul li a:hover {
	color: #f11f2f;
}

.btn-download, .btn-hire {
	color: #d9d9d9;
	background: #1e1e1e;
	border: 2px solid #1e1e1e;
	padding: 10px;
	margin: 25px;
	text-decoration: none;
	font-weight: bolder;
}

.btn-download:hover, .btn-hire:hover {
	color: #1e1e1e;
	background: #d9d9d9;
}

.btn-download {
	margin-left: 150px;
	padding-left: 20px;
	padding-right: 20px;
}

.btn-hire {
	margin-left: 900px;
	padding-left: 20px;
	padding-right: 20px;
}

.intro {
	text-align: justify;
	padding-left: 400px;
	margin: 40px;
}

hr {
	width: 100%;
}

#about, #projects {
	text-align: left;
	margin: 20px;
}

#skills, #hire {
	text-align: right;
	margin: 20px;
}

.footer {
	color: #d9d9d9;
	background: #1e1e1e;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 18px;
	text-align: center;
}

@media (max-width: 1200px) {
	.btn-download, .btn-hire {
		color: #d9d9d9;
		background: #1e1e1e;
		border: 2px solid #1e1e1e;
		padding: 10px;
		margin: 25px;
		text-decoration: none;
		font-weight: bolder;
	}

	.btn-download:hover, .btn-hire:hover {
		color: #1e1e1e;
		background: #d9d9d9;
	}

	.btn-download {
		margin-left: 60px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.btn-hire {
		margin-left: 800px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.intro {
		text-align: justify;
		font-size: 18px;
		padding-left: 100px;
		margin: 40px;
	}
}

@media (max-width: 1024px) {
	.btn-download, .btn-hire {
		color: #d9d9d9;
		background: #1e1e1e;
		border: 2px solid #1e1e1e;
		padding: 10px;
		margin: 25px;
		text-decoration: none;
		font-weight: bolder;
	}

	.btn-download:hover, .btn-hire:hover {
		color: #1e1e1e;
		background: #d9d9d9;
	}

	.btn-download {
		margin-left: 60px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.btn-hire {
		margin-left: 800px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.intro {
		text-align: justify;
		font-size: 16px;
		padding-left: 100px;
		margin: 40px;
	}
}

@media (max-width: 900px) {
	.btn-download, .btn-hire {
		color: #d9d9d9;
		background: #1e1e1e;
		border: 2px solid #1e1e1e;
		padding: 10px;
		margin: 25px;
		text-decoration: none;
		font-weight: bolder;
	}

	.btn-download:hover, .btn-hire:hover {
		color: #1e1e1e;
		background: #d9d9d9;
	}

	.btn-download {
		margin-left: 60px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.btn-hire {
		margin-left: 500px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.intro {
		text-align: justify;
		font-size: 16px;
		padding-left: 100px;
		margin: 40px;
	}
}

@media (max-width: 800px) {
	.btn-download, .btn-hire {
		color: #d9d9d9;
		background: #1e1e1e;
		border: 2px solid #1e1e1e;
		padding: 10px;
		margin: 25px;
		text-decoration: none;
		font-weight: bolder;
	}

	.btn-download:hover, .btn-hire:hover {
		color: #1e1e1e;
		background: #d9d9d9;
	}

	.btn-download {
		margin-left: 60px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.btn-hire {
		margin-left: 500px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.intro {
		text-align: justify;
		font-size: 16px;
		padding-left: 100px;
		margin: 40px;
	}
}

@media (max-width: 600px) {
	.btn-download, .btn-hire {
		color: #d9d9d9;
		background: #1e1e1e;
		border: 2px solid #1e1e1e;
		padding: 10px;
		margin: 25px;
		text-decoration: none;
		font-weight: bolder;
	}

	.btn-download:hover, .btn-hire:hover {
		color: #1e1e1e;
		background: #d9d9d9;
	}

	.btn-download {
		margin-left: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.btn-hire {
		margin-left: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.intro {
		text-align: justify;
		font-size: 12px;
		padding: 0;
		margin: 40px;
	}
}

@media (max-width: 400px) {
	.btn-download, .btn-hire {
		color: #d9d9d9;
		background: #1e1e1e;
		border: 2px solid #1e1e1e;
		padding: 10px;
		margin: 25px;
		text-decoration: none;
		font-weight: bolder;
	}

	.btn-download:hover, .btn-hire:hover {
		color: #1e1e1e;
		background: #d9d9d9;
	}

	.btn-download {
		margin-left: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.btn-hire {
		margin-left: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.intro {
		text-align: justify;
		font-size: 12px;
		padding: 0;
		margin: 40px;
	}
}